/* body{
    font-family: 'Poppins', sans-serif;

} */

#nav_size{
    margin-left: 40% !important;
}
#nav_bar{
    margin-bottom: 0px ;
}
.gut_float h1{
    font-size: 60px;
    font-weight: 700;
    color: rgba(255, 166, 0, 0.897);

}


.half-width{
    width: 30%;
    float: left;
    margin-left: 15%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.button{
        
        
        background-color: #3D4FF3;
            
        text-decoration: none;
        color: White;
        padding: 10px 10px;
        border-radius: 5%;
        font-weight: 700;
            
}
.panda-card{
    border: 0;
}
.panda-card-footer{
    background-color: white;
    border: 0;
}
.end_img{
    width: 60%;
}
.row_img{
    width: 100%;
    
    margin-left: 5%;
    
}
.bottom_border{
    border: 0;

}



